
<div class="container-fluid">
<div class="job-title">
 <h3 align="left">Job title: <%= @job.title %></h3>
 </div>
 <div class="row">
  <div class="well col-md-3">
  <div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; New Jobs</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  </div>
  <div class="well">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9627658023469919"
     data-ad-slot="2167268909"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
   </div> 
     <div class="well col-sm-6 col-md-9">
      <div class="well">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9627658023469919"
     data-ad-slot="2167268909"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
       </div>

      <h3 class="left"><strong>Job description</strong></h3>
      <h5 class="left"><i class="fa fa-map-marker" aria-hidden="true"></i>   <strong>Organization: Unicef</strong></h5>
      <h5 class="right"><i class="fa fa-building" aria-hidden="true"></i>   <strong>Country: Afganistan</strong></h5>
      <h5 class="left"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>  <strong>Deadline: 22 July 2016</strong></h5>
     
     <div class="para">
     <%= simple_format(@job.description) %></div>
     <div>
     </div>
     <%= link_to 'Back to Job Listing', jobs_path, class: 'btn btn-xs btn btn-primary' %>
     <div>
     </div>
      <div class="well">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9627658023469919"
     data-ad-slot="2167268909"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>
   </div>
</div> 


        
   
