
<div class="container-fluid">
<div class="job-title">
 <h3 align="left">Job title: <%= @job.title %></h3>
 </div>
 <div class="row">
  <div class="well col-md-3">
  <div class="list-group">
  <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; New Jobs</a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Library</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Applications</a>
  </div>
  <div class="well">
  UNOPS supports the successful implementation of its partners' peacebuilding, humanitarian and development projects around the world. Our mission is to serve people in need by expanding the ability of the United Nations, governments and other partners to manage projects, infrastructure and procurement in a sustainable and efficient manner. 
 Job Description

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
  </div>
   </div> 
     <div class="well col-sm-6 col-md-9">
      <div class="well">
      WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
       WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
       </div>

      <h3 class="left"><strong>Job description</strong></h3>
      <h5 class="left"><i class="fa fa-map-marker" aria-hidden="true"></i>   <strong>Organization: Unicef</strong></h5>
      <h5 class="right"><i class="fa fa-building" aria-hidden="true"></i>   <strong>Country: Afganistan</strong></h5>
      <h5 class="left"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>  <strong>Deadline: 22 July 2016</strong></h5>
     
     <div class="para">
     <%= simple_format(@job.description) %></div>
     <div>
     </div>
     <%= link_to 'Back to Job Listing', jobs_path, class: 'btn btn-xs btn btn-primary' %>
     <div>
     </div>
      <div class="well">
      WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
       WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
       WVE is currently looking for a candidate for JEOP M&E Coordinator

       The successful candidate will have skills and experience that meet the following requirements:
       The successful candidate will have skills and experience that meet the following requirements:
      </div>
   </div>
</div> 


        
   
