
 <div class="container-fluid">
    <div class="job-title">
    
    </div>
   </div> 
     
      <div class="well col-sm-6 col-md-9">
        <div class="well">
        </div>

          <h3 class="left"><strong>Job description</strong></h3>
          <h5 class="left"><i class="fa fa-map-marker" aria-hidden="true"></i>   <strong>Organization: Unicef</strong></h5>
          <h5 class="right"><i class="fa fa-building" aria-hidden="true"></i>   <strong>Country: Afganistan</strong></h5>
          <h5 class="left"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>  <strong>Deadline: 22 July 2016</strong></h5>
     
      <div class="para">
       <%= simple_format(@job.description) %>
      </div>
       
       <div>
       </div>

        <%= link_to 'Back to Job Listing', jobs_path, class: 'btn btn-xs btn btn-primary' %>
       <div>
       </div>


      <div class="well">
           
      </div>

   </div>
</div> 


        
   
