<div class="container">
  <h2>Dynamic Tabs</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">View Latest Jobs</a></li>
    <li><a data-toggle="tab" href="#menu1">Jobs by Category</a></li>
    <li><a data-toggle="tab" href="#menu2">Jobs by Organizations</a></li>
    
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>  UNOPS supports the successful implementation of its partners' peacebuilding, humanitarian and development projects around the world. Our mission is to serve people in need by expanding the ability of the United Nations, governments and other partners to manage projects, infrastructure and procurement in a sustainable and efficient manner. 
Job Description

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>  UNOPS supports the successful implementation of its partners' peacebuilding, humanitarian and development projects around the world. Our mission is to serve people in need by expanding the ability of the United Nations, governments and other partners to manage projects, infrastructure and procurement in a sustainable and efficient manner. 
Job Description

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>  UNOPS supports the successful implementation of its partners' peacebuilding, humanitarian and development projects around the world. Our mission is to serve people in need by expanding the ability of the United Nations, governments and other partners to manage projects, infrastructure and procurement in a sustainable and efficient manner. 
Job Description

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>



