<div class="my">
<h2 class="center">Welcome to Grand jobs</h2>

<p>
</p>
<p>
</p>
<div class="container-fluid">
 <div class="row">
  <div class="col-xs-3">
  <div class="well">
 
 </div>
</div>
  <div class="col-xs-9 col-xs-9-offset-3">
   <div class="well">
  Task 2: Providing technical Assistance in knowledge transfer in the use of hardware 
              and software infrastructure for 6 PHEM experts
Indicators of success:  Regional Health Bureau PHEM experts manage to use various     
                                        analysis 
</div>
</div>
<div class="col-xs-9 col-xs-9-offset-3">
   <div class="well">
  Task 2: Providing technical Assistance in knowledge transfer in the use of hardware 
              and software infrastructure for 6 PHEM experts
Indicators of success:  Regional Health Bureau PHEM experts manage to use various     
                                        analysis software for the knowledge and skills to improve  
                                       emergency preparedness and response during crisis      
    Achievement: 6 PHEM experts and other RHB experts are assisted in knowledge 
                              transfer in the use of various data analysis software and hardware 
     Due date for completion: 30th of June 2016
</div>
</div>
<div class="col-xs-9 col-xs-9-offset-3">
   <div class="well">
  Task 2: Providing technical Assistance in knowledge transfer in the use of hardware 
              and software infrastructure for 6 PHEM experts
Indicators of success:  Regional Health Bureau PHEM experts manage to use various     
                                        analysis software for the knowledge and skills to improve  
                                       emergency preparedness and response during crisis      
    Achievement: 6 PHEM experts and other RHB experts are assisted in knowledge 
                              transfer in the use of various data analysis software and hardware 
     Due date for completion: 30th of June 2016
</div>
</div>
</div>
</div>
</div>
</div>



<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="left-top">
      	<strong>Title:</strong>
          
           <strong>Description:</strong>
            
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-sm-9 col-sm-9-offset-3">
       <div class="main-show">
       	<strong>Title:</strong>
       

           <strong>Description:</strong>
           
       </div>
     </div>
    </div>
   </div>



