 <div class="center jumbotron">
 <div class="container">
  <h2>All UN and International NGO Jobs in one stop</h2>
   
<%= link_to 'Search your dream Jobs', jobs_path, class: 'btn btn-lg btn btn-primary' %>
  </div>
  </div>
 
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> view latest jobs</a></li>
  <li><a data-toggle="tab" href="#menu1"><i class="fa fa-sitemap fa-lg" aria-hidden="true"></i> Jobs by category</a></li>
  <li><a data-toggle="tab" href="#menu2"><i class="fa fa-institution fa-lg" aria-hidden="true"></i> Jobs by Organization</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <div class="para">
    <h3>Search the latest Jobs</h3>
    
    UNOPS supports the successful implementation of its partners' peacebuilding, humanitarian and development projects around the world. Our mission is to serve people in need by expanding the ability of the United Nations, governments and other partners to manage projects, infrastructure and procurement in a sustainable and efficient manner. 
  Job Description

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
</div>
</div>
 <div id="menu1" class="tab-pane fade">
    <div class="para">
    <h3>Select Jobs by your professional category</h3>
    UNOPS supports the successful implementation of its partners' peacebuilding, humanitarian and development projects around the world. Our mission is to serve people in need by expanding the ability of the United Nations, governments and other partners to manage projects, infrastructure and procurement in a sustainable and efficient manner. 
Job Description

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
</div>
  </div>
  <div id="menu2" class="tab-pane fade">
    <div class="para">
    <h3>Select your dream Organization</h3>
    UNOPS supports the successful implementation of its partners' peacebuilding, humanitarian and development projects around the world. Our mission is to serve people in need by expanding the ability of the United Nations, governments and other partners to manage projects, infrastructure and procurement in a sustainable and efficient manner. 
Job Description

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

As an International Christian Humanitarian Development organization, World Vision Ethiopia (WVE) is trusted to deliver integrated programs with target communities through its 68 Area programs (APs) located in seven regional states of the country. WVE envisions a thriving organization where our strong leadership at all levels results in improved delivery of results for children.

WVE is currently looking for a candidate for JEOP M&E Coordinator The successful candidate will have skills and experience that meet the following requirements:
</div>
</div>
</div>

